<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="HotelName" value="Stars Hotel" />
		<add key="Phone" value="+9621234567" />
		<add key="Email" value="khalidsliman2014@gmail.com" />
		<add key="Address" value="Amman" />
	</appSettings>
	
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.;Database=Hotel;User Id=sa;Password=sa123456;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>